.fondo{
    background-color: #f8f9fa;
}

body{
    font-family: 'Courier New', Courier, monospace;
}
.main{
    text-align: justify;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}
h2, h3{
    text-align: center;
}
h3{
    text-decoration: underline;
}
footer{
    font-size: 0.75em;
    text-align: center;
}
a:link{
    text-decoration: none;
    text-align: center;
}
.centro{
    text-align: center;
}